
<head>
  <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
  <script>
  </script>
  
</head>
<div>

</div>
<div id='pdf' style="background: #f5f0c4; margin: auto; min-width: 55%; width: 55%; border: 1px solid black; ">
  <div style="text-align: center; padding-top: 5%">
    <img src="../../assets/img/krishana.png" alt="logo">
    <h3>ISKCON-London</h3>
    <h3>Radha-Krishna Temple</h3>
    <h4>Thank you for your donation</h4>
  </div>
  <div style="text-align: center;">
    <span style="margin-left: auto">Please print this confirmation for your records.</span>
  </div>
  <br>
  <table style=" width: 80%; margin: auto; ">
    <tr class="style1"  style="border-top: 1px solid  #999">Contribution Item Information</tr>
    <tr style="display: grid; grid-template-columns: 1fr;">
      <table class="subTable" style="width: 100%;">
        <tr style="border: 0">
          <td style="width: 50%; border: 0; font-weight: bold;">Item</td>
          <td style="width: 50%; border: 0; font-weight: bold;">Amount</td>
        </tr>
        <tr *ngFor="let item of List">
          <td class="subTableData">{{item.name}}</td>
        
          <td class="subTableData">£{{item.amount}}</td>
        </tr>
      </table>
    </tr>
    <tr class="style1">Contribution Information</tr>
    <tr class="halfTwo">
      <td class="halfFirst">Receipt Number</td>
      <td> {{receipt_number}}</td>
    </tr>
    <tr class="halfTwo">
      <td class="halfFirst">Total Amount</td>
      <td>£{{totalAmount}}</td>
    </tr>
    <tr class="halfTwo">
      <td class="halfFirst">Date</td>
      <td>{{date}}</td>
    </tr>
    <tr class="halfTwo">
      <td class="halfFirst">Transaction # </td>
      <td>{{trasactionId}}</td>
    </tr>
       <tr class="style1" style="font-weight: bold;">
      UK / Home Address And Gift aid Declaration
    </tr>
   
    <tr class="halfTwo">
      <td class="halfFirst">Name(s)</td>
      <td>{{firstname}}</td>
    </tr>
       <tr class="halfTwo">
      <td class="halfFirst">Can we Claim Gift Aid Qualifying?</td>
      <td>{{giftaid}}</td>
    </tr>
    <tr class="style1" style="font-weight: bold;">
      Additional Comments
    </tr>
    <tr class="halfTwo">
      <td class="halfFirst" style="width: 50%">Additional Comments</td>
      <td>{{comments}}</td>
    </tr>
    <tr>
      <td>
      <img src="../../assets/img/president.png" style="padding-top: 10px">   
      <br>
      <span>Your servant,<br>
      Jai Nitai dasa<br>
      ISKCON-London Temple President
      </span>
      </td>
    </tr>
  </table>
  <br>
  <br>
</div>

