h3 {
	color: #523806;
}

table, tr, td {
	border-collapse: collapse;
}

tr {
	border: 1px solid #999;
	border-top: 0;
	line-height: 1.5em;
}

td {
	padding-left: 7px;
}

.halfTwo {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.style1 {
	border: 1px solid #999;
	border-top: 0;
	background: #eee;
	padding-left: 7px;
}

.halfFirst {
	background: #f7f7f7;
}




.subTable {
	border: 0;
}

.subTableData {
 text-align: left;
}

.subTableTR {
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	border: 0;
}